.moviePageUpper {
    display: flex;
    flex-direction: column;
}
#backdrop{
    mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent),
    linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    mask-composite: intersect;
    -webkit-mask-composite: source-in; /* For Safari support */
}

.detailsAndPoster{
    display: flex;
    flex-direction: row;
    margin-left:2%;
}
.detailsAndPoster img{
    width: 25%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 10px;
}
.detailsAndPoster .details{
    display: flex;
    flex-direction: column;
    width: 75%;
    text-align: left;
    margin-left: 5%;
}

.detailsAndPoster .details .titleAndReleaseDate{
    display: flex;
    flex-direction: row;
    text-align: right;
    gap: 1em;
    align-items: baseline;
}
.detailsAndPoster .details .titleAndReleaseDate h2{
    font-size: 2em;
}
.detailsAndPoster .details #tagline{
    font-size: 1.5em;
    color: gray;
    margin-top: 2%;
    margin-bottom: 2%;
}
.detailsAndPoster .details #overview{
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
}