.homePageFeed {
    gap: 1rem;
}
.homePageFeedHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.homePageFeedHeader a{
    text-decoration: none;
}
.homePageFeedHeader a:hover{
    color: deepskyblue;
    cursor: pointer;
}
.homePageFeedArticles{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0.5rem 0.5rem;
}
.homePageFeedArticle{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.homePageFeedArticle a{
    width: 33%;
}
.homePageFeedArticle img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.homePageFeedArticleContent{
    display: flex;
    width: 67%;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
}
.homePageFeedArticleContent label{
    font-size: 1.2rem;
    color: white;
}
.homePageFeedArticleContent p{
    font-size: 0.9rem;
}
@media (max-width: 768px) {
    .homePageFeedArticleContent p{
        display: none;
    }
    .homePageFeedArticleContent label{
        font-size: 0.8rem;
    }
    .homePageFeedArticle{
        padding-left: 0;
        padding-right: 0;
    }
}

.homePageFeedLoaderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    height: 100%;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    width: 5rem;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, #ba9191 90%,#0000);
    background:
            var(--_g) 0%   50%,
            var(--_g) 50%  50%,
            var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}