.homepageContainer{
    display: flex;
    flex-direction: column;
    height: 100svh;
    justify-content: space-between;
}

.trendingSectionHomepageDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.trendingSectionHomepageDiv label{
    text-align: left;
}